body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    margin: 20px;
    padding: 10px;
    border: 1px;
    border-radius: 10px;
}
.message.message-info {
    background-color: #CDDEFC;
    color: #41379A;
}

.message.message-success {
    background-color: #CEF3D9;
    color: #377642;
}

.message.message-warning {
    background-color: #FCFBCA;
    color: #857023;
}

.message.message-error {
    background-color: #F7D2D5;
    color: #7E202C;
}
