body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message.message-info {
    background-color: rgb(205, 222, 252);
    color: hsl(246, 47%, 41%);
    margin: 20px;
    padding: 10px;
    border: 1px;
    border-radius: 10px;

}

.message.message-success {
    background-color: hsl(138, 60%, 88%);
    color: hsl(130, 36%, 34%);
    margin: 20px;
    padding: 10px;
    border: 1px;
    border-radius: 10px;

}

.message.message-warning {
    background-color: hsl(59, 89%, 89%);
    color: hsl(47, 58%, 33%);
    margin: 20px;
    padding: 10px;
    border: 1px;
    border-radius: 10px;

}

.message.message-error {
    background-color: hsl(355, 76%, 90%);
    color: hsl(352, 60%, 31%);
    margin: 20px;
    padding: 10px;
    border: 1px;
    border-radius: 10px;

}
