body {
    background-image: url("../blues.jpeg");
    background-size: auto;
    background-color: bisque;
    font-family: 'Amatic SC', cursive;
}
.fancy-header {
    color: #f86745; /* single line comment */
    text-decoration: underline;
    text-align: center;
}

#sub {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: cornflowerblue;
}

#imp {
    color: red;
}

hr {
    border-color: crimson;
}

.pics {
    height: 400px;
    width: 500px;
    background-color: crimson;

}

ol {
    list-style-type: upper-roman;
}

ul {
    list-style-type: square;
}

table, tr, td, th {
    border: 2px solid black;
    text-align: center;
}
a:link {
    color: black;
}
a:visited {
    color: red;
}
a:hover {
    color: greenyellow;
}
a:active {
    color: orange;
}







/*Open up your welcome.html file from earlier.
Center the main heading
Add a style to change the color of the headers on your page and make them underlined.
Add a style to change the background color of the page.
Add a style to add a background image to your background. Search how to manipulate the position, sizing of this background image.
Add a style to change the list-style to something other than the default bullet.
Add a style to change the font for the entire page. Use google fonts if you would like.
Add a style to change the table, table cells td and rows tr padding and font sizes.
Add a style to alter the anchor tags and its different states. (e.g. link, visited, hover and active).
Continue experimenting with styles to increase the visual appeal of the page.*/